@if (loading && showLoadingMessage) {
  <p class="loading">Loading…</p>
} @else if (error) {
  <p class="error">{{ error }}</p>
} @else {
  <div class="tree" cdkDropListGroup>
    <div
      cdkDropList
      id="folder-root"
      [cdkDropListData]="{ parentId: null }"
      (cdkDropListDropped)="onRootDrop($event)"
    >
      @for (f of getTopLevelFolders(); track f.id) {
        <app-folder-tree-item
          [folder]="f"
          [allFolders]="getVisibleFolders()"
          [rootFolderId]="rootFolderId()"
          [selectedFolderId]="selectedFolderId()"
          [creatingUnderParentId]="creatingUnderParentId()"
          [folderIdBeingRenamed]="folderIdBeingRenamed()"
          (folderClick)="onFolderClick($event)"
          (createSubfolder)="createFolder($event)"
          (createNoteInFolder)="onCreateNoteInFolder($event)"
          (folderDrop)="onFolderDrop($event)"
          (startCreating)="onStartCreating($event)"
          (folderRenamed)="onFolderRenamed($event)"
          (folderCreated)="onFolderCreatedFromItem($event)"
          (cancelCreating)="onCancelCreating()"
          (createFolderWithDefault)="onCreateFolderWithDefault($event)"
        ></app-folder-tree-item>
      }
      @if (showInlineCreateAtRoot()) {
        <div class="inline-create-row inline-create-row--buttons">
          <button type="button" class="inline-create-btn" (click)="onInlineCreateFolderAtRoot()">
            <span class="inline-create-btn-icon"><app-icon-folder></app-icon-folder></span>
            <span>Folder</span>
          </button>
          <button type="button" class="inline-create-btn inline-create-btn--link" (click)="onInlineCreatePage()">Page</button>
          <button type="button" class="inline-create-btn inline-create-btn--cancel" (click)="cancelInlineCreate()">Cancel</button>
        </div>
      }
    </div>
  </div>
  @if (showCreateButton()) {
    <button type="button" class="btn-add" (click)="createFolder(null)">
      + New folder
    </button>
  }
}
