<div
  class="folder-item"
  cdkDropList
  [id]="'folder-' + folder().id"
  [cdkDropListData]="{ parentId: folder().id }"
  (cdkDropListDropped)="onDrop($event)"
>
  <div class="folder-row-wrap">
    <div
      class="folder-row"
      cdkDrag
      [cdkDragData]="folder()"
      (click)="onClick()"
      (mouseenter)="rowHovered.set(true)"
      (mouseleave)="rowHovered.set(false)"
      data-drag-type="folder"
      [class.folder-row--expanded]="hasChildren() && expanded()"
    >
      <span class="folder-row-icon">
        @if (rowHovered()) {
          <span class="folder-row-icon-inner">
            @if (expanded()) {
              <app-icon-chevron-down></app-icon-chevron-down>
            } @else {
              <app-icon-chevron-right></app-icon-chevron-right>
            }
          </span>
        } @else {
          <span class="folder-row-icon-inner">
            <app-icon-folder></app-icon-folder>
          </span>
        }
      </span>
      @if (isRenaming()) {
        <input
          #renameInput
          type="text"
          class="folder-rename-input"
          [ngModel]="renameTitle"
          (ngModelChange)="renameTitle = $event"
          (keydown.enter)="submitRename()"
          (keydown.escape)="cancelRename()"
          (blur)="submitRename()"
          (click)="$event.stopPropagation()"
        />
      } @else {
        <span class="folder-title">{{ getFolderTitle() }}</span>
      }
    </div>
    <div class="folder-create-wrap" (click)="$event.stopPropagation()">
      <button
        type="button"
        class="folder-create-btn"
        (mousedown)="toggleCreateDropdown($event)"
        (click)="$event.stopPropagation()"
        title="Create folder or page"
      >
        <app-icon-plus></app-icon-plus>
      </button>
    </div>
  </div>
  @if (createDropdownOpen()) {
    @if (createDropdownPosition(); as pos) {
      <div
        class="folder-create-dropdown folder-create-dropdown--fixed"
        [style.top.px]="pos.top"
        [style.left.px]="pos.left"
      >
        <button type="button" class="folder-create-dropdown-item" (click)="onCreateSubfolder()">
          <span class="folder-create-dropdown-icon"><app-icon-folder></app-icon-folder></span>
          <span>Folder</span>
        </button>
        <button type="button" class="folder-create-dropdown-item" (click)="onCreateNote()">
          <span class="folder-create-dropdown-icon"><app-icon-content></app-icon-content></span>
          <span>Page</span>
        </button>
      </div>
    }
  }
  @if (showInlineCreateHere()) {
    <div class="inline-create-row inline-create-row--buttons">
      <button type="button" class="inline-create-btn" (click)="onInlineCreateFolder()">
        <span class="inline-create-btn-icon"><app-icon-folder></app-icon-folder></span>
        <span>Folder</span>
      </button>
      <button type="button" class="inline-create-btn inline-create-btn--link" (click)="onInlineCreatePage()">Page</button>
      <button type="button" class="inline-create-btn inline-create-btn--cancel" (click)="cancelInlineCreate()">Cancel</button>
    </div>
  }
  @if (expanded()) {
    <div class="children">
      @for (child of getChildren(folder().id); track child.id) {
        <app-folder-tree-item
          [folder]="child"
          [allFolders]="allFolders()"
          [rootFolderId]="rootFolderId()"
          [selectedFolderId]="selectedFolderId()"
          [creatingUnderParentId]="creatingUnderParentId()"
          [folderIdBeingRenamed]="folderIdBeingRenamed()"
          [noteIdBeingRenamed]="noteIdBeingRenamed()"
          (folderClick)="folderClick.emit($event)"
          (selectNote)="selectNote.emit($event)"
          (createSubfolder)="createSubfolder.emit($event)"
          (createNoteInFolder)="createNoteInFolder.emit($event)"
          (noteRenamed)="noteRenamed.emit()"
          (folderDrop)="folderDrop.emit($event)"
          (startCreating)="startCreating.emit($event)"
          (folderCreated)="folderCreated.emit($event)"
          (folderRenamed)="folderRenamed.emit($event)"
          (folderExpandedChange)="folderExpandedChange.emit($event)"
          (cancelCreating)="cancelCreating.emit()"
        ></app-folder-tree-item>
      }
      <app-notes-list
        [folderId]="folder().id"
        [showCreateButton]="false"
        [noteIdBeingRenamed]="noteIdBeingRenamed()"
        (selectNote)="selectNote.emit($event)"
        (noteRenamed)="noteRenamed.emit()"
      ></app-notes-list>
    </div>
  }
</div>
